header {
    background-color: #227C9D;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    margin:0;
}

header ul {
    padding: 20px 40px;
    
}

header ul svg {
    fill: #fafafa;
    width: 16px;
    height: 16px;
    padding: 0px 6px;
}

ul li {
    margin: 0px 10px;
}

.clickable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.clickable:hover{
    text-decoration: underline;
}

.banner {
    width: 100%; 
    height: 700px;
    background-image: url("./scan.png");
    background-size: cover;
    position: relative;
    
}

.banner nav {
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.banner nav h2 {
    padding: 0px 60px;
    margin:0;
    color: #000;
    z-index: 1000;
    letter-spacing: -3px;
}

.banner nav ul {
    padding: 20px 40px;
    font-weight: bold;
    color: #fafafa;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.actionBtn {
    padding: 10px 20px;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.banner nav .actionBtn{
    border-radius: 5px;
    background-color: rgba(157, 47, 47);
}

.banner nav .actionBtn:hover {
    background-color: #C74343;
}
.overlay {
    position: absolute; 
    top: 0px; 
    left: 0px;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0.2);
    width:100%; 
    height:100%;
    /* opacity: 0.3; */
}
.intro {
    width: 40%;
    padding: 100px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
}

.intro .actionBtn {
    border-radius: 40px;
    background-color: #227C9D;
    padding: 20px 30px;
    z-index: 100;
}

.intro #mainTitle{
    font-size: 3em;
    font-weight: bolder;
    margin: 20px 0px;
    color:#fafafa;
    z-index: 100;
    filter: drop-shadow(.05em .05em #333);
}

.intro #welcome {
    font-weight: bold;
    color: #227C9D;
    z-index: 100;
}

.intro p {
    z-index: 100;
    width: 80%;
    color: #fafafa;
    
}

#about {
    line-height: 25px;
    margin:0; 
    margin-bottom: 20px;
    font-size: 1.1em;
}

.intro .actionBtn:hover {
    background-color: #36A9D3;
}

#services-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1.5fr;
    height: 100%;
    padding: 0px 60px;
    background-color: #f7f7f7;
    color: #333;
}

#services-container h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#services-container #list {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    
}
#list p{
    margin: 10px 0px;  
}

 #list section p{
    color: #666;
}

form {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3 ;
    background-color: #fff;
    width:100%; 
    height:100%;
}